.hidden {
  display: none;
}
h1 {
  font-family:cursive;
  text-decoration:underline;
  font-weight:bold;
  color: #006400;
  text-align:center;
  
}
#startButton {
  background-color:purple;
  border:solid blue 2px;
  border-radius:5px;
}
#startButton:hover {
  background-color:purple;
  border:solid red 2px;
  border-radius:5px;
}
