
.hidden {
  display: none;
}
h1 {
  font-family:cursive;
  text-decoration:underline;
  font-weight:bold;
  color: #006400;
  text-align:center;
  
}
#startButton {
  color:orange;
  font-weight:bold;
  background-color:purple;
  border:solid blue 2px;
  border-radius:5px;
  padding:5px 5px 5px 5px;
}
#startButton:hover {
  color:orange;
  font-weight:bold;
  background-color:purple;
  border:solid red 2px;
  border-radius:5px;
  padding:5px 5px 5px 5px;
}
.gameBackground {
  background-color:#FAEBD7;
  border:solid 7px #DEB887;
  border-radius:10px;
  padding:5px 5px 5px 5px;
}

#grainButton {
  color:#DEB887;
  font-family:Geneva;
  font-size:20px;
  font-weight:bold;
  background-color:#006400;
  border:2px solid #DEB887;
  border-radius:5px;
  padding:10px 10px 10px 10px;
}
#grainButton:hover {
  color:#DEB887;
  font-family:Geneva;
  font-size:20px;
  font-weight:bold;
  background-color:#006400;
  border:2px solid red;
  border-radius:5px;
  padding:10px 10px 10px 10px;
}
#grainYieldUpgrade {
  color:#DEB887;
  font-weight:bold;
  font-family:Geneva;
  font-size:20px;
  background-color:#006400;
  border:2px solid #DEB887;
  border-radius:5px;
  padding:10px 10px 10px 10px;
}
#grainYieldUpgrade:hover {
  color:#DEB887;
  font-weight:bold;
  font-family:Geneva;
  font-size:20px;
  background-color:#006400;
  border:2px solid red;
  border-radius:5px;
  padding:10px 10px 10px 10px;
}
#grainSellButton {
  color: #4B0082;
  font-weight:bold;
  font-family:Geneva;
  font-size:20px;
  background-color: #DAA520;
  border:2px solid purple;
  border-radius:5px;
  padding:10px 10px 10px 10px
}
#grainSellButton:hover {
  color: #4B0082;
  font-weight:bold;
  font-family:Geneva;
  font-size:20px;
  background-color: #DAA520;
  border:2px solid red;
  border-radius:5px;
  padding:10px 10px 10px 10px
}
